### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
pd.DataFrame({'Total Players': [purchase_data['SN'].nunique()]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
df0 = pd.DataFrame()
df0['Number of Unique Items'] = [purchase_data['Item ID'].nunique()]
df0['Average Price'] = [purchase_data.Price.mean()]
df0['Number of Purchases'] = [purchase_data['Purchase ID'].count()]
df0['Total Revenue'] = [purchase_data.Price.sum()]
df0.style.format({
    'Average Price': '${:.2f}',
    'Total Revenue': '${:.2f}'
}).hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_counts = purchase_data[['SN', 'Gender']].drop_duplicates()['Gender'].value_counts()

In [6]:
gender_percents = gender_counts / gender_counts.sum()

In [7]:
percent_fmt = '{:.2%}'
pd.DataFrame({
    'Total Count': gender_counts,
    'Percentage of Players': gender_percents
}).style.format({
    'Percentage of Players': percent_fmt
})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
gender_groupby = purchase_data.groupby('Gender')
gender_groupby.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [9]:
means = gender_groupby[['Age', 'Price']].mean()
# print(means)
counts = gender_groupby[['Purchase ID']].count()
# print(counts)
sums = gender_groupby[['Price']].sum()
# print(sums)
nuniques = gender_groupby[['SN', 'Item ID', 'Item Name']].nunique()
# print(nuniques)
result = pd.concat(
    (
        counts['Purchase ID'], 
        means['Price'], 
        sums['Price'], 
        sums['Price'] / nuniques['SN'], 
        
    ), 
    axis=1
)
result.columns = [
    'Total Purchases',
    'Average Purchase Price', 
    'Total Purchase Value', 
    'Average Purchase Per Person'
]
money_fmt = '${:.2f}'
result.style.format({key: money_fmt for key in ['Average Purchase Price', 
                                                'Total Purchase Value', 
                                                'Average Purchase Per Person']})

In [10]:
top_items_dict = {
    gender: purchase_data.loc[
        purchase_data.Gender == gender, ['Item ID', 'Item Name']
    ].value_counts().reset_index()
    for gender in purchase_data.Gender
}
for gender in top_items_dict:
    top_series = top_items_dict[gender]
    print(f"{gender:23} = {top_series[top_series[0] == top_series[0].max()]['Item Name'].to_list()}")

Male                    = ['Oathbreaker, Last Hope of the Breaking Storm']
Other / Non-Disclosed   = ['Warped Iron Scimitar', 'Betrayal, Whisper of Grieving Widows']
Female                  = ['Nirvana']

In [11]:
gendered_items = purchase_data.groupby(['Gender', 'Item ID', 'Item Name'])
gendered_max_item_purchase = gendered_items['Purchase ID'].count().max(level='Gender')
print(gendered_max_item_purchase)
gendered_items['Item ID'].count().sort_values(ascending=False)

Gender
Female                   4
Male                     9
Other / Non-Disclosed    2
Name: Purchase ID, dtype: int64

Gender  Item ID  Item Name
Male    178      Oathbreaker, Last Hope of the Breaking Storm    9
        59       Lightning, Etcher of the King                   8
        103      Singed Scalpel                                  7
        164      Exiled Doomblade                                7
        72       Winter's Bite                                   7
                                                                ..
Female  179      Wolf, Promise of the Moonwalker                 1
        181      Reaper's Toll                                   1
        183      Dragon's Greatsword                             1
Male    6        Rusty Skull                                     1
Female  1        Crucifer                                        1
Name: Item ID, Length: 285, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
unique_ages = purchase_data[['SN', 'Age']].drop_duplicates()
unique_ages

                SN  Age
0          Lisim78   20
1      Lisovynya38   40
2       Ithergue48   24
3    Chamassasya86   24
4        Iskosia90   23
..             ...  ...
773         Hala31   21
774     Jiskjask80   11
775     Aethedru70   21
777     Yathecal72   20
778        Sisur91    7

[576 rows x 2 columns]

In [13]:
bins = [0] + list(range(10, 41, 5)) + [unique_ages.Age.max()+1]
labels = ['<10'] + [f'{x}-{x+4}' for x in range(10, 40, 5)] + ['40+']
age_binned = pd.cut(unique_ages.Age, bins=bins, right=False, labels=labels).value_counts().sort_index()
result = pd.DataFrame({'Total Players': age_binned, 'Percentage of Players': age_binned / age_binned.sum()})
result.style.format({
    'Percentage of Players': percent_fmt
})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
purchase_age_binned = pd.cut(purchase_data.Age, bins=bins, right=False, labels=labels)
pdata_age_grouped = purchase_data.groupby(purchase_age_binned)
pcount = pdata_age_grouped['Purchase ID'].count()
pmean = pdata_age_grouped.Price.mean()
psum = pdata_age_grouped.Price.sum()
result = pd.DataFrame({
    'Purchase Count': pcount,
    'Average Purchase Price': pmean,
    'Total Purchase Value': psum, 
    'Avg Total Purchase Per Person': psum / pdata_age_grouped.SN.nunique()
})
result.style.format({
    col: money_fmt for col in result.columns if col != 'Purchase Count'
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
sn_purchases = purchase_data.groupby('SN')
result = pd.DataFrame({
    'Purchase Count': sn_purchases['Purchase ID'].count(),
    'Average Purchase Price': sn_purchases.Price.mean(),
    'Total Purchase Value': sn_purchases.Price.sum()
}).sort_values('Total Purchase Value', ascending=False)
result.head().style.format({
    col: money_fmt for col in result.columns if col != 'Purchase Count'
})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
cols = ['Item ID', 'Item Name', 'Price']
item_group = purchase_data[cols].groupby(cols[:2])
result = pd.DataFrame({
    'Purchase Count': item_group['Item ID'].count(), 
    'Item Price': item_group.Price.first(), 
    'Total Purchase Value': item_group.Price.sum()
}).sort_values('Purchase Count', ascending=False)
result.head(10).style.format({col: money_fmt for col in result.columns if col != 'Purchase Count'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
result.sort_values('Total Purchase Value', ascending=False).head(10).style.format(
    {col: money_fmt for col in result.columns if col != 'Purchase Count'}
)

## Extra Fun(?)

In [18]:
purchase_data.loc[purchase_data['Item Name'].str.len().sort_values(ascending=False).drop_duplicates().index, 
                  'Item Name']

222    Oathbreaker, Last Hope of the Breaking Storm
498       Extraction, Quickblade Of Trembling Hands
723        Winterthorn, Defender of Shifting Worlds
512          Interrogator, Blood Blade of the Queen
335           Celeste, Incarnation of the Corrupted
159            Betrayal, Whisper of Grieving Widows
314             Shadow Strike, Glory of Ending Hope
139              Darkheart, Butcher of the Champion
283               Thorn, Conqueror of the Corrupted
520                Downfall, Scalpel Of The Emperor
31                  Wolf, Promise of the Moonwalker
575                  Aetherius, Boon of the Blessed
376                   Lightning, Etcher of the King
508                    Thorn, Satchel of Dark Souls
571                     Bone Crushing Silver Skewer
472                      Torchlight, Bond of Storms
535                       War-Forged Gold Deflector
689                        Haunted Bronzed Bludgeon
440                         Brutality Ivory Warmace
675                          Blood Infused Guardian
619                           Vindictive Glass Edge
354                            Thunderfury Scimitar
600                             Thirsty Iron Reaver
667                              Victor Iron Spikes
597                               Stormfury Lantern
625                                Faith's Scimitar
685                                 Retribution Axe
189                                  Stormfury Mace
515                                   Second Chance
466                                    Worldbreaker
66                                      Rusty Skull
298                                      Suspension
395                                       Darkheart
204                                        Splinter
527                                         Avenger
447                                          Agatha
267                                           Orbit
775                                            Wolf
Name: Item Name, dtype: object

In [19]:
_.shape

(38,)

In [20]:
sorted_item_name_lengths = purchase_data.loc[
    purchase_data['Item Name'].drop_duplicates().str.len().sort_values(ascending=False).index, 
    'Item Name'
]

for item in sorted_item_name_lengths:
    print(item.rjust(len(sorted_item_name_lengths.iloc[0])+1))

 Oathbreaker, Last Hope of the Breaking Storm
    Extraction, Quickblade Of Trembling Hands
    Stormbringer, Dark Blade of Ending Misery
     Winterthorn, Defender of Shifting Worlds
       Interrogator, Blood Blade of the Queen
        Celeste, Incarnation of the Corrupted
         Expiration, Warscythe Of Lost Worlds
         Betrayal, Whisper of Grieving Widows
          Shadow Strike, Glory of Ending Hope
          Sun Strike, Jaws of Twisted Visions
           Warmonger, Gift of Suffering's End
           Fate, Vengeance of Eternal Justice
           Darkheart, Butcher of the Champion
            Heartstriker, Legacy of the Light
            Storm-Weaver, Slayer of Inception
            Hellreaver, Heirloom of Inception
            Tranquility, Razor of Black Magic
            Thorn, Conqueror of the Corrupted
            Freak's Bite, Favor of Holy Might
            The Void, Vengeance of Dark Magic
            Oathbreaker, Spellblade of Trials
            Blazefury, Protector of Delusions
             The Oculus, Token of Lost Worlds
             Downfall, Scalpel Of The Emperor
             Flux, Destroyer of Due Diligence
             Ghost Reaver, Longsword of Magic
             Emberling, Defender of Delusions
              Rage, Legacy of the Lone Victor
              Riddle, Tribute of Ended Dreams
              Wolf, Promise of the Moonwalker
              Frenzy, Defender of the Harvest
              Despair, Favor of Due Diligence
               Aetherius, Boon of the Blessed
               Peacekeeper, Wit of Dark Magic
                Pursuit, Cudgel of Necromancy
                Blazeguard, Reach of Eternity
                Lightning, Etcher of the King
                 Hailstorm Shadowsteel Scythe
                 Soul-Forged Steel Shortsword
                 Ghastly Adamantite Protector
                 Thorn, Satchel of Dark Souls
                 Heartseeker, Reaver of Souls
                 Lazarus, Terror of the Earth
                  Swan Song, Gouger Of Terror
                  Alpha, Reach of Ending Hope
                  Deadline, Voice Of Subtlety
                  Blood-Forged Skeletal Spine
                  Malice, Legacy of the Queen
                  Bone Crushing Silver Skewer
                   Spectral Diamond Doomblade
                   Piety, Guardian of Riddles
                   Woeful Adamantite Claymore
                   Glimmer, Ender of the Moon
                   Torchlight, Bond of Storms
                   Whistling Mithril Warblade
                    War-Forged Gold Deflector
                    Splitter, Foe Of Subtlety
                    Conqueror Adamantite Mace
                     Foul Titanium Battle Axe
                     Deluge, Edge of the West
                     Heartless Bone Dualblade
                     Haunted Bronzed Bludgeon
                     Apocalyptic Battlescythe
                     Purgatory, Gem of Regret
                     Exiled Mithril Longsword
                      Mercy, Katana of Dismay
                      Chaos, Ender of the End
                      Spada, Etcher of Hatred
                      Hopeless Ebon Dualblade
                      Renewed Skeletal Katana
                      Brutality Ivory Warmace
                      Warped Diamond Crusader
                       Blood Infused Guardian
                       Relentless Iron Skewer
                        Bonecarvin Battle Axe
                        Singed Onyx Warscythe
                        Vindictive Glass Edge
                         Thunderfury Scimitar
                         Warped Iron Scimitar
                         Soul Infused Crystal
                         Fiery Glass Crusader
                          Glinting Glass Edge
                          Dragon's Greatsword
                          Thirsty Iron Reaver
                          Stormfury Longsword
                          Alpha, Oath of Zeal
                          Crying Steel Sickle
                           Gladiator's Glaive
                           Blade of the Grave
                           Yearning Mageblade
                           Bloodlord's Fetish
                           Victor Iron Spikes
                            Vengeance Cleaver
                            Stormfury Lantern
                            Frenzied Scimitar
                            Twilight's Carver
                            Solitude's Reaver
                             Unending Tyranny
                             Faith's Scimitar
                             Yearning Crusher
                             Exiled Doomblade
                              The Decapitator
                              Retribution Axe
                              Restored Bauble
                              Undead Crusader
                              Mercenary Sabre
                              Eternal Cleaver
                              Righteous Might
                              Primitive Blade
                               Singed Scalpel
                               Possessed Core
                               Venom Claymore
                               Mourning Blade
                               Stormfury Mace
                               Malificent Bag
                                Second Chance
                                Warped Fetish
                                Winter's Bite
                                Fusion Pummel
                                Reaper's Toll
                                Abyssal Shard
                                 Feral Katana
                                 Worldbreaker
                                 Phantomlight
                                 Misery's End
                                 Final Critic
                                  Sleepwalker
                                  Ritual Mace
                                  Unholy Wand
                                  Blindscythe
                                  Rusty Skull
                                  Shadowsteel
                                  Stormcaller
                                  Piece Maker
                                   Curved Axe
                                   Putrid Fan
                                   Azurewrath
                                   Persuasion
                                   Netherbane
                                   Arcane Gem
                                   Endbringer
                                   Hope's End
                                   Suspension
                                   Lifebender
                                    Severance
                                    Souleater
                                    Trickster
                                    Dreamkiss
                                    Foul Edge
                                    Deathraze
                                    Darkheart
                                    Brimstone
                                    Toothpick
                                    Dreamsong
                                    Hero Cane
                                     Serenity
                                     Betrayer
                                     Crucifer
                                     Ragnarok
                                     Splinter
                                     Massacre
                                      Orenmir
                                      Celeste
                                      Scalpel
                                      Amnesia
                                      Striker
                                      Verdict
                                      Avenger
                                      Nirvana
                                       Hatred
                                       Agatha
                                       Devine
                                       Demise
                                        Orbit
                                        Dawne
                                        Alpha
                                         Wolf
                                         Fury
                                         Dawn

In [21]:
commas = (purchase_data['Item Name'].drop_duplicates().str.find(',') >= 0).sum()
total_items = purchase_data["Item Name"].nunique()
print(f'There are {commas} commas in item names out of a total of {total_items}.')
print(f'That is to say, {commas/total_items:.1%} of all items have a comma in their name.')

There are 54 commas in item names out of a total of 179.
That is to say, 30.2% of all items have a comma in their name.